.portfolio {
	position: absolute;
	width: 100vw;
	left: 0;
	max-height: 100vh;
}
.portfolio .portfolio-content {
	height: 100%;
	width: 100%;
	display: grid;
	position: relative;
	max-width: 80%;
	margin: auto;
	gap: 30px;
}
