.technology_item {
	opacity: 0;
	transform: translateX(-30%);
	animation: appearFromLeft 2s calc(0.5s * var(--i)) forwards;
}

@keyframes appearFromLeft {
	100% {
		opacity: 1;
		transform: translateX(0);
	}
}
